* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

p {
  margin-bottom: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #333;
  background-color: #ddd;
  margin: 0;
}

.display__none{
  display:none !important;
}

.information__box{
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  padding-top: 10px;
  font-size: 1.5rem;
}

.information__header{
  display:flex;
  flex-direction: column;
}

.information__title{
  font-size: 90%;
  color: #5278BF;
  font-weight: bold;
  width: 160px;
  min-width: 160px;
  max-width: 200px;
  height: auto;
  float: left;
}


.information__data{
  font-size: 80%;
  color: black;
  padding-left: 5px;
  width: auto;
  min-width: 160px;
  max-width: 80%;
  height: auto;
  float: left;
  word-wrap: break-word;
}

.search__section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.wrapper {
  height:100vh;
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
}

.form-control {
  display: flex;
  margin-left: 2rem;
  width: 20rem;
  height: 3.5rem;
  font-size: 1.5rem;
}

.form-select {
  margin-left: 2rem;
  width: 20rem;
  height: 3.5rem;
  font-size: 1.5rem;
}

.break {
  padding-top: 10px;
}

.body__welcome {
  width: calc(80% - 20px);
  margin-left: 20px;
}

.header {
  background: linear-gradient(45deg,#2f5d82 23%,#4e9fe0 100%);
  padding: 20px 0;
}

.header__title {
  display: flex;
  padding-left: 2rem;;
}

.alert__box{
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 5rem;
  padding-left: 5rem;
  font-size: 18px;
}
.btn__search{
  margin-left: 2rem;
  width: 15rem;
  height: 3.5rem;
  font-size: 1.5rem;
}

.main__body {
  display:flex;
  flex-grow: 1;
}

.menu {
  width: 20%;
  background-color: white;
}

.menu ul {
  list-style: none;
  padding-left: 0;
}

.menu ul li:hover {
  list-style: none;
  background-color: #e6f1f2;
}

.menu__button {
  width: 100%;
  text-align: left;
  display: block;
  color: #424242;
  font-size: 18px;
  text-transform: uppercase;
  padding: 16px 0;
  text-decoration: none;
  padding-left: 2rem;
  border:none;
  background-color: white;
}

.menu__button:disabled{
  background: #f4eeee;
  color: #c0b8b8;
}

.menu__button:hover:not([disabled]) {
  font-weight: bold;
  background-color: #e6f1f2;
}

.page {
  width: calc(80% - 20px);
  margin-left: 20px;
}
